PORT=4000
DATABASE_URL='postgresql://neondb_owner:npg_eyKIS3O7wuQa@ep-broad-boat-adabbm4f-pooler.c-2.us-east-1.aws.neon.tech/evconnect?sslmode=require&channel_binding=require'
JWT_SECRET=tu_jwt_secret_largo_y_seguro
NODE_ENV=development
